@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
:root{
    --main-color:#f05a66;
}
.overlay{
    width: 100%;
    height: 100%;
   
    background: rgba(0, 0, 0, 0.3);
}
body a:hover{
    color: #fff;
    text-decoration: none;
}
/* header */
header{
    background-color: var(--main-color);
    width: 100%;
    margin-bottom: 40px;
    position: sticky;
    z-index: 1000;
}
.header-content{
    display: flex;
    flex-direction: row;
}
.lanauge{
    color: #fff;
    text-transform: uppercase;
    margin-left: 100px;
    width: 100px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px;
    font-size: 13px;
    height: 42px;
    position: relative;
    cursor: pointer;

}
.header-lanauge-flag{
    position: absolute;
    margin-top: 5px;


}
.header-lanauge-flag span{
    transition: 0.5s;
}
.header-lanauge-flag span:hover{
    opacity: .5;
}
.header-angle-down{
    margin-left: 5px;
}
.lanauge-dropdown{
    background-color: #fff;
    color: #000;
    margin-top: 43px;
    list-style: none;
    justify-content: center;
    width: 115px;
    height: 160px;
    position: absolute;
}

.list-lanauge-dropdown{
    margin-bottom: 25px;
    display: block;
}
.li-dropdown-flags{
    margin-left: 5px;
}
.li-dropdown-title{
    transition: 0.5s;
}
.li-dropdown-title:hover{
    color: var(--main-color);
}
.lanauge-dropdown-toggle{
    display: none;
}
.fa-remove{
    color: var(--main-color);
}
.curr{
    margin-left: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    position: relative;
    width: 70px;
    border-right: 1px solid #ccc;
    cursor: pointer;

}
.curr-content{
    position: absolute;
    margin-top: 10px;
    transition: 0.5s;
}
.curr-dropdown{
    background-color: #fff;
    color: #000;
    position: absolute;
    margin-top: 43px;
    list-style: none;
    width: 71px;
    height: 72px;
}
.curr-dropdown-toggle{
    display: none;
}
.list-curr-dropdown .curr-type-eur{
    position: absolute;
    margin-top: 5px;
}
.list-curr-dropdown .curr-type-usd{
    position: absolute;
    margin-top: 40px;
}
.list-curr-dropdown span{
    transition: 0.5s;
}
.curr-content:hover{
    opacity: 0.5;
}
.list-curr-dropdown span:hover{
    color: var(--main-color);
}
.free-shipping{
    width: 850px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
    text-transform: uppercase;
    position: relative;
    border-right: 1px solid #ccc;


}
.free-shipping-des{
    position: absolute;
    margin-top: 10px;
}
.free-shipping-social_media{
    right: 0;
    position: absolute;
    margin-top: 10px;
    width: 150px;

}
.free-shipping-social_media a{
  font-size: 18px;
  padding-left: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}
.free-shipping-social_media a:hover{
    color: #fff;
    opacity: 0.5;
}
.fa-instagram{
    margin-right: 5px;
}
.contact-us{
    color: #fff;
    margin-left: 5px;
    width: 100px;
    position: relative;
    border-right: 1px solid #ccc;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.5s;
}
.contact-us:hover{
    opacity: 0.5;
}
.header-contact-des{
    position: absolute;
    margin-top: 10px;
    margin-left: 9px;
}
.faqs{
    width: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    border-right: 1px solid #ccc;
    transition: 0.5s;
    cursor: pointer;
}
.faqs:hover{
    opacity: 0.5;
}
/* container */
.main-container{
    
    width: 100%;
    position: sticky;
    z-index: 999;
    top: 0;
    right: 0%;
}
.nav-content{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
.nav-logo{
    width: 150px;
    height: 25px;
}
.nav-home{
    width: 95px;
    height: 56px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    margin-left: 130px;
    transition: 0.5s;
    cursor: pointer;
}

.home-content-hover{
    transition: 0.5s;
}
.home-content-hover:hover{
    color: var(--main-color);
}
.shop-nav{
    width: 86px;
    height: 56px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    margin-left: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.shop-chat-bubble{
    width: 35px;
    height: 16px;
    position: absolute;
    background-color: orangered;
    color: #fff;
    bottom:106%;
    font-size: 10px;
    margin-left: 10px;

}
.shop-chat-bubble span{
    margin-left: 5px;
}
.shop-chat-bubble::before{
    content: "";
    display: block;
    border-width: 5px;
    border-style: solid;
    margin-left: 5px;
    bottom: -5px;
    border-color: orangered  transparent transparent orangered ;
    position: absolute;
}
.shop-content-hover{
    transition: 0.5s;
}
.shop-content-hover:hover{
    color: var(--main-color);
}
.nav-blog{
    width: 85px;
    height: 56px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    transition: 0.5s;
    margin-left: 30px;
    cursor: pointer;
}
.nav-blog-content:hover {
    color: var(--main-color);
}
.nav-pages{
    width: 95px;
    height: 56px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    transition: 0.5s;
    margin-left: 20px;
    cursor: pointer;
}
.nav-pages-content:hover{
    color: var(--main-color);
}
.nav-ElementorLive{
    width: 210px;
    height: 56px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    transition: 0.5s;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.elementor-content-hover{
    transition: 0.5s;
}
.elementor-content-hover:hover{
    color: var(--main-color);
}
.ElementorLive-chat-bubble{
    width: 75px;
    height: 16px;
    position: absolute;
    background-color: #7628a2;
    color: #fff;
    font-size: 10px;
    bottom: 103%;
    margin-left: 53px;
}
.ElementorLive-chat-bubble::before{
    content: "";
    display: block;
    border-width: 5px;
    border-style: solid;
    margin-left: 5px;
    bottom: -5px;
   border-color: #7628a2  transparent transparent #7628a2 ;
   position: absolute;
}
.ElementorLive-chat-bubble span{
    margin-left: 4px;
}
.nav-buy{
    width: 75px;
    height: 56px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    transition: 0.5s;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.buy-chat-bubble{
    width: 55px;
    height: 16px;
    position: absolute;
    background-color: #22c8e5;
    color: #fff;
    font-size: 10px;
    bottom: 105%;
    margin-left: 2px;
}
.buy-chat-bubble span{
    margin-left: 4px;
}
.buy-chat-bubble::before{
    content: "";
    display: block;
    border-width: 5px;
    border-style: solid;
    margin-left: 5px;
    bottom: -5px;
   border-color: #22c8e5  transparent transparent #22c8e5 ;
   position: absolute;
}
.nav-buy:hover{
    color: var(--main-color);
}
.nav-myaccount{
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    transition: 0.5s;
    margin-left: 25px;
    cursor: pointer;
}
.nav-myaccount:hover{
    color: var(--main-color);
}
.nav-icons{
    width: 250px;
    height: 30px;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.5s;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.nav-icons i{
    margin-left: 12px;
    transition: 0.5s;
}
.nav-icons i:hover{
    color: var(--main-color);
}
.fa-shopping-cart{
    position: relative;
}
.cart-total{
    font-size: 14px;
}
.cart-counter{
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    color: #fff;
    bottom: 57%;
    right: 42px;
    font-size: 13px;
}
.cart-counter span{
    margin-left: 3.5px;
}
.blog-dropdown{
    list-style: none;
    position: absolute;
    width: 250px;
    margin-top: 15px;
    border: 2px solid #eee;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
	transition:transform 0.5s , visibility 0.5s , opacity 0.5s  ;
    
}
.blog-dropdown a{
    text-decoration: none;
    color: #000;
}
.blog-dropdown:hover .nav-blog-content{
    color: var(--main-color);
}
.blog-dropdown li{
    margin-bottom: 20px;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 0;
    margin-top: 10px;
    transition: 0.5s;
}


.line-dropdown{
    color:#eee ;
    opacity: 0.2;
}
.nav-blog:hover .blog-dropdown{
    transform: scale(1);
	visibility: visible;
	opacity: 1; 
}
.list-blog-dropdown:hover{
    color: var(--main-color);
}
.nav-blog:hover .nav-blog-content{
    color: var(--main-color);
}
.pages-dropdown{
    list-style: none;
    position: absolute;
    width: 200px;
    margin-top: 15px;
    border: 2px solid #eee;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
	transition:transform 0.5s , visibility 0.5s , opacity 0.5s  ;
}
.pages-dropdown li{
    transition: 0.5s;
}
.pages-dropdown li:hover{
    color: var(--main-color);
}
.nav-pages:hover .pages-dropdown{
    visibility: visible;
    opacity: 1;
    transform: scale(1);

}
.nav-pages:hover .nav-pages-content{
    color: var(--main-color);
}
.pages-dropdown li{
    margin-bottom: 20px;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 0;
    margin-top: 10px;
    transition: 0.5s;
}
.pagesdropdown-chat-bubble-1 
{
    
    width: 75px;
    height: 16px;
    position: absolute;
    background-color: #7628a2;
    color: #fff;
    font-size: 10px;
    bottom: 95%;
    margin-left: 58px;
}
.pagesdropdown-chat-bubble-1::before ,
.pagesdropdown-chat-bubble-2::before{
    content: "";
    display: block;
    border-width: 5px;
    border-style: solid;
    margin-left: 5px;
    bottom: -9px;
   border-color: #7628a2  transparent transparent #7628a2 ;
   position: absolute;
}
.pagesdropdown-chat-bubble-2{
    width: 75px;
    height: 13px;
    position: absolute;
    background-color: #7628a2;
    color: #fff;
    font-size: 10px;
    bottom: 60%;
    margin-left: 45px;
}
.pagesdropdown-chat-bubble-2 span , 
.pagesdropdown-chat-bubble-1 span ,
.pagesdropdown-chat-bubble-3 span{
    margin-left: 3px;
    margin-top: 1px;
}
.pagesdropdown-chat-bubble-3{
    width: 35px;
    height: 16px;
    position: absolute;
    background-color: #50c646;
    color: #fff;
    bottom:25%;
    font-size: 10px;
    margin-left: 108px;

}

.pagesdropdown-chat-bubble-3::before{
    content: "";
    display: block;
    border-width: 5px;
    border-style: solid;
    margin-left: 5px;
    bottom: -5px;
   border-color: #50c646  transparent transparent #50c646 ;
    position: absolute;
}
.home-dropdown-row1{
    
}
.home-dropdown-row1{
    list-style: none;
    width: 80%;
    height: auto;
    list-style: none;
    position: absolute;
    border: 2px solid #eee;
    background-color: #fff;
    left: 50%;
    top: 100%;
    transform: translate(-50%) scale(0);
    visibility: hidden;
    opacity: 0;
	transition:transform 0.5s , visibility 0.5s , opacity 0.5s;
}
.nav-home:hover .home-dropdown-row1{
    transform: translate(-50%) scale(1);
    visibility: visible;
    opacity: 1;
}
.home-dropdown{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.mega-home-dropdown{
    width: 25%;
    position: relative;
}
.home-dropdown-product-img{
    width: 90%;
    margin: 20px 0 0 20px;
    padding: 10px;
}
.home-dropdown-product-img img{
    width: 100%;
}
.home-dropdown-product-des{
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 0 70px;

}
.new-dropdown-product-img{
    width: 50px;
    height: 16px;
    position: absolute;
    color: #fff;
    margin:50px auto;
}
.new-dropdown-product-img-2{
    color: #fff;
    position: absolute;
    margin: 40px 0 0 101px;

}
.new-dropdown-product-img-2::before{
    content: "";
    display: block;
    border-width: 15px;
    border-style: solid;
    margin-left: 65px;
    bottom: 10px;
    border-color: #50c646 #50c646 transparent transparent;
    position: absolute;
}
.new-dropdown-product-img-2::after{
    content: "new";
    position: absolute;
    bottom: 25px;
    margin-left: 74px;
    font-size: 9px;
    transform: rotateZ(39deg);


}
.home-img-new-position{
    margin-left: 106px;
    bottom: 221px;
}

.mega-shop-dropdown-menu{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 450px;
    position: absolute;
    border: 2px solid #eee;
    background-color: #fff;
    transform: translate(-50%,5%) scale(0);
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
	transition:transform 0.3s , visibility 0.3s , opacity 0.3s 0.3s ;

}
.shop-nav:hover .mega-shop-dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,5%) scale(1);
    
}
.mega-shop-dropdown-menu-col1 .shop-dropdown-menu,
.mega-shop-dropdown-menu-col2 .shop-dropdown-menu,
.mega-shop-dropdown-menu-col3 .shop-dropdown-menu,
.mega-shop-dropdown-menu-col4 .shop-dropdown-menu,
.mega-shop-dropdown-menu-col5 .shop-dropdown-menu{
    list-style: none;
}



.list-mega-shop-dropdown-menu-title{
    font-weight: 600 !important;
    color: #000 !important;
    text-transform: uppercase !important;
    font-size:13.5px !important ;
}
.list-mega-shop-dropdown-menu,
.list-mega-shop-dropdown-menu-title{
    margin-bottom: 5px;
    margin-left: 120px;
    text-transform: capitalize;
    font-weight: 0;
    margin-top: 20px;
    transition: 0.5s;
    color: #ccc;
    width: 135px;
}
.list-mega-shop-dropdown-menu-title-5 ,
.list-mega-shop-dropdown-menu-title-6{
    width: 170px !important;
    margin-bottom: 5px;
    margin-left: 120px;
    text-transform: capitalize;
    font-weight: 600 !important;
    margin-top: 20px;
    transition: 0.5s;
    font-size: 13.5px !important;
    
}
.list-mega-shop-dropdown-menu:hover,
.list-mega-shop-dropdown-menu-title:hover,
.list-mega-shop-dropdown-menu-title-5:hover,
.list-mega-shop-dropdown-menu-title-6:hover{
    color: var(--main-color) !important;
}
.shop-dropdown-chat-bubble{
    width: 35px;
    height: 16px;
    position: absolute;
    background-color: #50c646;
    color: #fff;
    font-size: 10px;


}
.position-1{
    top:0;
    margin-left: 180px;
}
.position-2{
    bottom: 24.5%;
    margin-left: 206px;
}
.position-3{
    margin-left: 185px;
    bottom: 7%;
}
.position-4{
    bottom: 16%;
    margin-left: 205px;
}
.position-5{
    margin-left: 215px;
    top: 27%;
}
.position-6{
    margin-left: 190px;
    bottom: 43%;
}
.position-7 {
    bottom: 69%;
}
.position-8{
    bottom: 60%;
}
.position-9{
    bottom: 51%;
}
.position-11{
    bottom: 33%;
}
.position-7 , .position-8 ,.position-9 ,.position-10 ,.position-11{
    margin-left: 190px;
}
.shop-dropdown-chat-bubble span{
    margin-left: 3px;
}

.shop-dropdown-chat-bubble::before{
    content: "";
    display: block;
    border-width: 5px;
    border-style: solid;
    margin-left: 5px;
    bottom: -5px;
   border-color: #50c646  transparent transparent #50c646 ;
    position: absolute;
}
.nav-elementor-mega-menu{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 430px;
    position: absolute;
    border: 2px solid #eee;
    background-color: #fff;
    transform: translate(-50%,5%) scale(0) ;
    font-size: 13px;
    visibility: hidden;
    opacity: 0;
	transition:transform 0.3s , visibility 0.3s , opacity 0.3s 0.3s ;

}
.nav-ElementorLive:hover .nav-elementor-mega-menu{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,5%) scale(1) ;

}
.elmentor-dropdown li{
    list-style: none;
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: 0;
    margin-top: 20px;
    transition: 0.5s;
    color: #ccc;
}
.list-mega-elmentor-dropdown-menu-title{
    font-weight: 600 !important;
    color: #000 !important;
    text-transform: uppercase !important;
    font-size:13.5px !important ;
}
/* site start */
.globa-main-container{
    width: 80%;
    margin: auto;
}
.swiper{
    width: 100%;
    height: fit-content;
    z-index: -10;
    cursor:grab;

}
.swiper-slide img{
    width: 100%;
}
.swiper-slide{
    position: relative;
}
.slider-img-1-content p , .slider-img-center-content p{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: grab;
}
.slider-img-center-content p{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.slider-img-1-content h2 {
    color: #fff;
    cursor: grab;
    text-transform: capitalize;
    font-size: 60px;
    width: 60%;
    margin-bottom: 15px;
}
.slider-img-center-content h2{
    font-size: 60px;
    width: 100%;
    text-transform: capitalize;
}
   
.slider-img-1-content a , .slider-img-center-content a {
    width: 138px;
    height: 43px;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
.slider-img-center-content{
    position: relative;
}
.slider-img-center-content a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
.slider-img-1-content a:hover ,
.slider-img-center-content a:hover,
.new__style a:hover ,
.form-news button:hover 
{
    background-color: #ef3444;
    color: #fff;
    text-decoration: none;
}
.slider-img-1-content{
    position: absolute;
    margin-top: 145px;
    margin-left: 50px;
}
.swiper-button-prev , .swiper-button-next{
    color: #fff !important;
}
.swiper-pagination-bullet{
    display: none !important;
}
.slider-img-center-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: #fff;
}
/* gallary-home */
.gallary-home{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;

}
.gallary-home img{
    background-color: rgba(0, 0, 0, 0.5);

}
.gallary-img {
    position: relative;
    overflow: hidden;


}
.gallary-img img{
  transition: .5s linear;
   
}
.gallary-img:hover  img{
    transform: scale(1.1);
}
.gallary-home a{
    position: absolute;
    width: 138px;
    height: 43px;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 70px;
    transition: all 0.5s;
}
.gallary-home a:hover{
    background-color: var(--main-color);
    opacity: 1;
    color: #fff;
}
.py{
    padding: 120px 0;
}
.section-title{
    position: relative;
}
.section-title span , .section-title h3 ,.section-title p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.section-title span{
    font-size: 14px;
    color: #979797;
    text-transform: uppercase;
}
.section-title h3{
     margin-top: 31px;
     font-size: 26px;
     color: #333333;
     text-transform: uppercase;
}
.section-title p{
    margin-top: 74px;
    color: #979797;

}
/* product slider */
.slider__tabs{
    text-align: center;
    margin: 0 0 20px 0;
}
.slider__tabs div {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 15px 10px 15px;
}
.slider__tab1 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  color: #333333;
  border-color: var(--main-color);
}

.slider__tab2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.7);
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgba(0, 0, 0, 0);
  fill: rgba(51, 51, 51, 0.7);
}

.slider__tab2:hover {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  color: #333333;
  border-color: var(--main-color);
}

.slider__tab3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.7);
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgba(0, 0, 0, 0);
  fill: rgba(51, 51, 51, 0.7);
  transition: border 0.5s;
}

.slider__tab3:hover {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  color: #333333;
  border-color: var(--main-color);
}
.cards {
    margin-top: 50px;
  }
  
  .cards__heading {
    text-align: center;
  }
  
  .cards__heading>h3 {
    color: #333333;
    font-size: 26px;
  }
  
  .cards__heading--p1 {
    font-size: 14px;
    color: #979797;
    font-family: serif;
  }
  
  .cards__heading--p2 {
    color: #777777;
    font-size: 16px;
    font-family: serif;
  }
  
  .cards__tabs {
    text-align: center;
    margin: 0 0 20px 0;
  }
  
  .cards__tabs>div {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 15px 10px 15px;
  }
  
  .cards__tab1 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    color: #333333;
    border-color: #f05a66
  }
  
  .cards__tab2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.7);
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgba(0, 0, 0, 0);
    fill: rgba(51, 51, 51, 0.7);
  }
  
  .cards__tab2:hover {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    color: #333333;
    border-color: #f05a66
  }
  
  .cards__tab3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.7);
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgba(0, 0, 0, 0);
    fill: rgba(51, 51, 51, 0.7);
  }
  
  .cards__tab3:hover {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    color: #333333;
    border-color: #f05a66
  }
  
  .fa-star {
    color: #fd7e14;
  }
  
  .cards__top {
    display: flex;
    justify-content: space-between;
  }
  
  .cards__top__1 {
    text-align: center;
    width: 25%;
    position: relative;
  }
  
  .cards__top__1 img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .padding {
    padding-right: 10px;
  }
  
  .padding>div {
    margin-top: 10px;
  }
  
  .link-one {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .link-two {
    text-decoration: none;
    color: #9E9E9E;
    font-size: 14px;
  }
  
  .cards span {
    color: #dc3545;
  }
  
  .cards__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card-image--hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .card__image {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;
    overflow: hidden;
  }
  
  .card__image--icons {
    position: absolute;
    top: 1px;
    right: 2px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .card__image--icons>div {
    padding: 10px;
  }
  
  .card__image--back {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    transform: translateZ(0);
  }
  
  .card__image--button {
    color: white;
    background-color: #f05a66;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 38px;
    opacity: 0;
    display: block;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: .3px;
    transform: translateY(103%);
    box-shadow: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
    backface-visibility: hidden;
  }
  
  .card__image:hover .card__image--button {
    transform: translateY(0%);
    opacity: 1;
  }
  
  .card__image:hover .card__image--back {
    opacity: 1;
  }
  
  .card__image:hover .card__image--icons {
    opacity: 1;
  }
  
  /* customer */
 .customer__review{
    position: relative;
 }
.customer__bg{
    background-image: url("../img/demo2-bg_testi.jpg") , linear-gradient( rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px;
  margin-top: 20px;
  background-attachment: fixed;
}  
.customer__content{
    text-align: center;
    color: #fff;
    line-height: 25px;

}
.customer__content h2{
    font-size: 50px;
}
.customer__content i{
    font-size: 40px;
}
.customer__content p{
    font-size: 16px;
}
.customer-img img{
    border-radius: 50%;
    position: absolute;
    margin-left: -202px;
}
.customer__name{
    margin-top: 50px;
}
.featured-products{
    padding: 50px 0;
    margin-bottom: 50px;

}
.py-top{
    padding-top: 50px;
}
/* section style */
.bg-2{
    background-image: url('../img/demo2-bg2.jpg');
    background-size: cover;
    margin-top: 30px;
    padding: 90px;
    height: 50vh;
}
.new__style p{
    color: #666666;
    font-size: 14px;
}
.new__style h2{
    font-size: 36px;
    font-weight: 700;
}
.new__style a{
    width: 138px;
    height: 43px;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
/* blogs */

.blogs{
    width: 80%;
    margin: 20px auto;
}
.box-container{
    display: flex;

}
.box{
    padding: 10px;
}
.image{
    overflow: hidden;
}
.image img{
    width: 100%;
    transition: 0.5s;
}
.image:hover img{
    transform: scale(1.1);
}
.content{
    position: relative;
}
.content span{
    width: 40px;
    height: 65px;
    background-color: var(--main-color);
    color: #fff;
    position: absolute;
    top: -210px;
    right: -1px;
    text-align: center;
}
.content{
    text-align: center;
    border: 1px solid #ccc;
}
.content .title{
    color: #000;
    transition: 0.5s;
}
.content .title:hover{
    color: var(--main-color);
    text-decoration: none;
}
.content .btn{
    color: var(--main-color);
    text-transform: uppercase;
}
/* news */
.news__letter{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url("../img/demo2-bg_newsletter.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 6px solid #ccc;
    justify-content: space-between;
    margin-bottom: 100px;
}
.news-sign{
    margin-left: 50px;
}
.news-sign h2 , .news-sign span{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
}
.news-sign span{
    color: var(--main-color);
}
.news-sign a , .form-news button{
    width: 138px;
    height: 43px;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}
.form-news button {
    margin-left: 15px;
}
.news-check{
    margin-left: 100px;
}
.news_input{
    width: 410px ;
    height: 43px ;
    margin-bottom: 10px;
}
.form-news{

    display: flex;
}
/* footer */
footer{
    background-color: #262626;
    width: 100%;
    height: 470px;
    padding-top: 60px;

}
.footer-section{
    width: 80%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.logo{
    width: 18%;
    margin-top: 30px;
}
.logo p{
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
}
.footer-contact{
    color: #fff;
}
.contact-list{
    list-style: none;
    font-size: 14px;
    padding: 20px;
    margin-left: 9px;
    margin-bottom: 10px;

}
.contact-list h3 {
    font-size: 23px;
    text-transform: uppercase;
}
.contact-list a{
    color: #fff;
}
.contact-list a:hover , .copyright a:hover{
    color: #ccc;
    text-decoration: none;
}
.line{
    width: 80%;
    margin: auto;
    height: 8px;
}
.copyright{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
}
.copyright p{
    margin-left: 30px;
    color: #fff;
}
.copyright a{
    color: #fff;
}
.copy-container , .payment-img{
    width: 80%;
    margin: auto;
}
.copy-text{
    color: #ccc;
    text-align:center ;
}
.payment-img{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.pulse{
    width: 200px;
  height: 100%;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  background: #fff;
}

